th:hover {
    background-color: #dee2e6;
    cursor: pointer;
}

.ac-list-container {
    width: 100%;
}
.ac-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ac-table th,
.ac-table td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
    text-align: left;
}

.ac-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}
.ac-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.ac-table tbody tr:hover {
    background-color: #f0f0f0;
}

.ac-row {
    cursor: pointer;
    padding: 5px 0;
    display: block;
}

.ac-row:hover {
    background-color: #e9ecef;
}
.btn-change {
    padding: 5px;
    background-color: #ca1643;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2px;
}
.btn-modal {
    margin: 5px;
}

.completed {
    text-decoration: line-through;
    color: #777;
}

.edit-icon,
.delete-icon {
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    color: #6c757d;
    transition: color 0.3s ease;
}

.edit-icon:hover,
.delete-icon:hover {
    color: #343a40;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.task-row {
    background-color: #f0f0f0;
    border-left: 10px solid #ca1643;
}
.overdue {
    color: red;
    font-weight: bold;
}
.error-message {
    color: red;
    font-style: italic;
    display: block;
    margin-top: 2px;
    font-size: 12px;
}
.error-input {
    border: 1px solid red;
}