h2.company-name,
p.company-name {
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40;
  color: white;
}

.dashboard-header .logout-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  transition: text-decoration 0.3s ease;
}
.dashboard-header .logout-button:hover {
  text-decoration: underline;
}

.dashboard-container {
  display: flex;
  flex: 1;
  padding: 20px;
}

.dashboard-menu {
  width: 250px;
  padding: 20px;
  background-color: #e9ecef;
  border-right: 1px solid #ddd;
}

.dashboard-content {
  flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 115px); /* Ограничиваем высоту */
   overflow: auto; /* Добавляем прокрутку */
}

.div-company-name {
  margin: 10px;
}

.tab-buttons {
  display: flex;
  margin-bottom: 20px;
}
.tab-buttons button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #e9ecef;
  border-bottom: 2px solid transparent;
  transition: background-color 0.3s ease, border-bottom-color 0.3s ease;
  border: none;
  font-size: 16px;
  margin-right: 5px
}
.tab-buttons button:hover {
  background-color: #f8f9fa;
}
.tab-buttons button.active {
  background-color: #f8f9fa;
  border-bottom: 2px solid #343a40;
}
.select-task-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.select-task-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.select-task-container select {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}


.btn {
  padding: 12px 15px;
  background-color: #ca1643;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn:hover {
  background-color: #e64034;
}