.gantt-chart-container {
  display: flex;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.aircraft-labels-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
}

.aircraft-name-item {
  width: 100%;
  padding: 5px 10px;
  position: absolute;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  border-bottom: 1px solid #ddd;
}

.gantt-chart-svg-wrapper {
 flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.gantt-svg {
  display: block;
}