.gantt-chart-container {
  display: flex;
}

.aircraft-labels-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
}

.aircraft-name-item {
  padding: 5px 10px;
  position: absolute;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
}

.gantt-chart-svg-wrapper {
 flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}

.gantt-svg {
  display: block;
}