.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    text-align: center;
    color: #333;
}

.not-found-container h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.not-found-container p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.not-found-container a {
    padding: 12px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;
      transition: background-color 0.3s ease;
      text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.not-found-container a:hover {
  background-color: #0056b3;
}