.task-upload-container {
    margin-top: 10px;
     padding: 20px;
  }
  .task-upload-container h2{
    margin-bottom: 20px;
  }
  .task-upload-container .input-container{
     margin-bottom: 20px;
  }