.task-list-container {
    width: 100%;
}
.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-table th,
.task-table td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
    text-align: left;
}

.task-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}
.task-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.task-table tbody tr:hover {
   background-color: #f0f0f0
}

.task-row {
    cursor: pointer;
    padding: 5px 0;
    display: block;
}

.task-row:hover {
    background-color: #e9ecef;
}
th:hover {
    background-color: #dee2e6;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #777;
}

.edit-icon,
.delete-icon {
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
     color: #6c757d;
      transition: color 0.3s ease;
}

.edit-icon:hover,
.delete-icon:hover {
 color: #343a40;
}
.subtask-row {
    background-color: #f0f0f0;
     border-left: 10px solid #007bff;
}
.overdue {
    color: red;
     font-weight: bold;
}
.error-message {
  color: red;
    font-style: italic;
}